<%- include('../partials/header') %>

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->


    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0 font-size-18">Barang</h4>

                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Barang</a></li>
                                    <li class="breadcrumb-item active">List</li>
                                </ol>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="row">
                    <div class="col-xl-4">
                        <!-- ==================Searching = -->

                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mb-4">Pencarian Data</h4>
                                <div class="row">
                                    <form id="form-search">
                                        <input type="hidden" name="page" value="1">
                                        <div class="row mb-3">
                                            <label for="cari_id" class="col-sm-4 col-form-label">ID barang</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" id="cari_id" name="cari_id"
                                                    placeholder="Tulis ID barang" value="<%=query.cari_id%>">
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <label for="cari_nama" class="col-sm-4 col-form-label">Nama barang</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" id="cari_nama" name="cari_nama"
                                                    placeholder="Tulis Nama barang" value="<%=query.cari_nama%>">
                                            </div>
                                        </div>


                                        <div class="card-footer">
                                            
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="text-sm-left">
                                                        <button type="submit" class="btn btn-primary">Cari</button>
                                                        <a href="/barang" class="btn btn-warning">Reset</a>
                                                    </div>
                                                </div>
                                                <div class="col-sm-8">
                                                    <ul class="pagination pagination-rounded justify-content-end">
                                                        <button type="button"
                                                        class="btn btn-success btn-rounded waves-effect waves-light"
                                                            data-bs-toggle="modal"
                                                            data-bs-target=".bs-example-modal-center"><i
                                                                class="fa-solid fa-plus"></i> Tambah</button>

                                                        <div class="modal fade bs-example-modal-center" tabindex="-1"
                                                            role="dialog" aria-hidden="true">
                                                            <div class="modal-dialog modal-dialog-centered">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title">Tambah Barang/ Varian
                                                                            Barang</h5>
                                                                        <button type="button" class="btn-close"
                                                                            data-bs-dismiss="modal"
                                                                            aria-label="Close"></button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <p>Klik salah satu tombol di bawah ini untuk
                                                                            menambahkan Barang/ Varian Barang</p>
                                                                    </div>
                                                                    <div class="modal-footer"
                                                                        style="text-align: center;">
                                                                        <div class="col-12">
                                                                            <a style="margin: 5px;"
                                                                                href="/barang/addbarang"
                                                                                class="btn btn-info"><i
                                                                                    class="fa-solid fa-plus"></i> Tambah
                                                                                Barang </a>
                                                                            <a style="margin: 5px;"
                                                                                href="/barang/addvarian"
                                                                                class="btn btn-warning"><i
                                                                                    class="fa-solid fa-plus"></i> Tambah
                                                                                Varian </a>
                                                                        </div>
                                                                    </div>
                                                                </div><!-- /.modal-content -->
                                                            </div><!-- /.modal-dialog -->
                                                        </div><!-- /.modal -->
                                                    </ul>
                                                </div><!-- end col-->
                                            </div>
                                        </div>

                                    </form>
                                </div>

                            </div>
                        </div>

                        <div class="card">
                            <div class="card-body">

                                <div class="panel-body">
                                    <h4 class="card-title mb-5">Tabel Data barang</h4>
                                    <table class="table table-condensed table-bordered table-striped">
                                        <thead class="table-light">
                                            <tr>
                                                <th class="align-middle">ID Barang</th>
                                                <th class="align-middle">Nama Barang</th>
                                                <th class="align-middle">Actions</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <% rows.forEach((item, index)=> { %>
                                                <tr>
                                                    <td>
                                                        <a href="/barang?id_barang=<%= item.id_barang %>">
                                                            <%=item.id_barang%>
                                                        </a>

                                                    </td>
                                                    <td>
                                                        <%=item.nama_barang%>
                                                    </td>
                                                    <td>
                                                        <div class="d-flex gap-3">
                                                            <a href="/barang/editbar/<%= item.id_barang %>"
                                                                class="text-success"><i
                                                                    class="fa-solid fa-pencil"></i></a>
                                                            <a href="/barang/deletebar/<%= item.id_barang %>"
                                                                class="text-danger"><i
                                                                    class="fa-solid fa-trash"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>

                                                <% }) %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-8">


                        <div class="card">
                            <div class="card-body">

                                <div class="table-responsive">
                                    <h4 class="card-title mb-5">Tabel Varian <a href="#" class="text-danger"><%=query.id_barang%></a></h4>

                                    <table class="table align-middle table-nowrap table-bordered">
                                        <thead class="table-light">
                                            <tr class="info">
                                                <th>Gambar & ID</th>
                                                <th>Nama Barang</th>
                                                <th>Nama Varian</th>
                                                <th>Stok Varian</th>
                                                <th>Satuan</th>
                                                <th>Gudang</th>
                                                <th>Harga Beli</th>
                                                <th>Harga Jual</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <% varian.forEach((item, index)=> { %>
                                            <tbody>
                                                <tr>
                                                    <td style="width:25px; height:25px; text-align: center; padding: auto;">
                                                        <div>
                                                            <img src="/gambar/<%= item.gambar_varian %>"
                                                                alt="gambar_tersimpan" style="width: 100%">
                                                        </div>
                                                        <div>
                                                            <%=item.id_varian%>
                                                        </div>
                                                    </td>

                                                    <td>
                                                        <%=item.nama_barang%>
                                                    </td>

                                                    <td>
                                                        <%=item.nama_varian%>
                                                    </td>

                                                    <td>
                                                        <%=item.stok_varian%>
                                                    </td>

                                                    <td>
                                                        <%=item.id_satuan%>
                                                    </td>

                                                    <td>
                                                        <%=item.id_gudang%>
                                                    </td>

                                                    <td>
                                                        <%=item.harga_beli_varian%>
                                                    </td>
                                                    <td>
                                                        <%=item.harga_jual_varian%>
                                                    </td>
                                                    <td>
                                                        <div class="d-flex gap-3">
                                                            <a href="/barang/editvar/<%= item.id_varian %>"
                                                                class="text-success"><i
                                                                    class="fa-solid fa-pencil"></i></a>
                                                            <a href="/barang/deletevar/<%= item.id_varian %>"
                                                                class="text-danger"><i
                                                                    class="fa-solid fa-trash"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <% }) %>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- end row -->
            </div>
            <!-- container-fluid -->
        </div>
        <!-- End Page-content -->
    </div>
    <script>


        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
        });
    </script>
    <!-- end main content-->

    <%- include('../partials/footer') %>