<%- include('../partials/header') %>
	<!-- ============================================================== -->
	<!-- Start right Content here -->
	<!-- ============================================================== -->
	<div class="main-content">
		<div class="page-content">
			<div class="container-fluid">
				<!-- start page title -->
				<div class="row">
					<div class="col-12">
						<div class="page-title-box d-sm-flex align-items-center justify-content-between">
							<h4 class="mb-sm-0 font-size-18">PEMBELIAN</h4> </div>
					</div>
				</div>
				<!-- end page title -->
				<div class="row">
					<div class="col-xl-4">
						<% if(user.role === 'Operator') { %>
						<div class="card overflow-hidden">
                            <div class="bg-primary bg-soft">
                                <div class="row">
                                    <div class="col-7">
                                        <div class="text-primary p-3">
                                            <h5 class="text-primary">Halo, <%= user.username.toUpperCase() %></h5>
                                            <p>Selamat Datang Kembali</p>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <!-- ==================Tabel Searching = -->
                            <div class="card-body pt-2 ">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="avatar-md profile-user-wid mb-6">
                                            <img src="/assets/images/users/avatar-1.jpg" alt=""
                                                class="img-thumbnail rounded-circle">
                                        </div>
                                        <h5 class="font-size-15 text-truncate"><%= user.username %></h5>
                                        <p class="text-muted mb-0 text-truncate"><%= user.role.toUpperCase() %></p>
                                    </div>

                                    <div class="col-sm-8">
                                        <div class="pt-2">

                                            <div class="row">
                                                <div class="col-6">
                                                    <h5 class="text-muted mb-0">Jam Kerja</h5>
                                                    <p class="font-size-15">08:00 - 16:00</p>
                                                </div>
                                                <div class="col-6">
                                                    <h5 class="text-muted mb-0">Catatan</h5>
                                                    <p class="font-size-15"> - </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
						<% } %>
						<!-- ==================Searching = -->
						<div class="card">
							<div class="card-body">
								<h4 class="card-title mb-4">Pencarian Data</h4>
								<div class="row">
									<form id="form-search2">
										<input type="hidden" name="page" value="1">
										<div class="row mb-3">
											<label for="cari_inv2" class="col-sm-4 col-form-label">Invoice Pembelian</label>
											<div class="col-sm-8">
												<input type="text" class="form-control" id="cari_inv2" name="cari_inv2" placeholder="Tulis Invoice" value="<%=query.cari_inv2%>"> </div>
										</div>
										<div class="row mb-3">
											<label for="searchDate2" class="col-sm-4 col-form-label" id="searchDate2"
												name="searchDate2" for="searchDate2">Date</label>
											<div class="col-sm-8">
												<input type="date" id="searchStartDate2" name="searchStartDate2" value="<%=query.searchStartDate2%>"
													class="form-control" placeholder="Tulis Date">
												<label class="col-sm-4 col-form-label">to</label>
												<input type="date" id="searchEndDate2" name="searchEndDate2" value="<%=query.searchEndDate2%>"
													class="form-control" placeholder="Tulis Date">
											</div>
										</div>
										<div class="card-footer">
											<div class="row">
												<div class="col-sm-4">
													<div class="text-sm-left">
														<button type="submit" class="btn btn-primary">Cari</button> <a href="/pembelian" class="btn btn-warning">Reset</a> </div>
												</div>
												<div class="col-sm-8">
													<ul class="pagination pagination-rounded justify-content-end">
														<button id="start-button" type="button" class="btn btn-primary waves-effect waves-light" data-bs-toggle="modal" data-bs-target=".bs-example-modal-xl"><i class="fa-solid fa-plus"></i> Transaksi Baru</button>
														<div class="modal fade bs-example-modal-xl" tabindex="-1" data-bs-backdrop="static" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
															<div class="modal-dialog modal-xl modal-dialog-scrollable">
																<div class="modal-content">
																	<div class="modal-header">
																		<h5 class="modal-title">Tambah Transaksi Pembelian</h5>
																		<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
																	</div>
																	<div class="modal-body">
																		<div class="card-body">
																			<form id="start-form2" class="needs-validation" novalidate>
																				<div class="row">
																					<div class="col-md-6">
																						<div class="mb-3">
																							<label for="no_invoice2" class="form-label">No Invoice</label>
																							<input type="text" class="form-control" id="no_invoice2" placeholder="No Invoice" readonly>
																							<div class="valid-feedback"> Looks good! </div>
																						</div>
																					</div>
																					<div class="col-md-6">
																						<div class="mb-3">
																							<label for="tanggal2" class="form-label">Waktu</label>
																							<input type="text" class="form-control" id="tanggal2" placeholder="Waktu" readonly>
																							<div class="valid-feedback"> Looks good! </div>
																						</div>
																					</div>
																				</div>
																			</form>
																		</div>
																		<hr class="border border-dark">
																		<div class="card-body">
																			<form id="detail-form2" class="needs-validation" novalidate>

																				<div class="row">
																					<div class="col-md-6">
																						<div class="mb-3">
																							<label for="gudangb" class="form-label">Nama Gudang</label>
																							<select class="form-select" name="gudangb" id="gudangb" required>
																								<option disabled selected>Pilih Gudang</option>
																								<% gudangb.forEach((item)=> { %>
																									<option value="<%= item.id_gudang %>">
																										<%= item.id_gudang %> - <%= item.nama_gudang %>
																									</option>
																									<% }) %>
																							</select>
																						</div>
																					</div>
																					<div class="col-md-6">
																						<div class="mb-3">
																							<label for="supplierb" class="form-label">Nama Supplier</label>
																							<select class="form-select" name="supplierb" id="supplierb" required>
																								<option disabled selected>Pilih Supplier</option>
																								<% supplierb.forEach((item)=> { %>
																									<option value="<%= item.id_supplier %>">
																										<%= item.id_supplier %> - <%= item.nama_supplier %>
																									</option>
																									<% }) %>
																							</select>
																						</div>
																					</div>
																				</div>

																				<div class="row">
																					<div class="col-md-10">
																						<div class="mb-3">
																							<label for="id-item2" class="form-label">ID Barang & Item</label>
																							<select class="form-select" name="id-item2" id="id-item2" required>
																								<option disabled selected>Pilih Barang & Item</option>
																								<% varianb.forEach((item)=> { %>
																									<option value="<%= item.id_varian %>">
																										<%= item.id_barang %> - <%= item.nama_barang %> | <%= item.id_varian %> - <%= item.nama_varian %>
																									</option>
																									<% }) %>
																							</select>
																						</div>
																					</div>
																					<div class="col-md-2">
																						<div class="mb-3">
																							<label for="stok2" class="form-label">Stok Tersisa</label>
																							<input type="text" class="form-control" id="stok2" placeholder="Stok Tersisa" readonly>
																							<div class="invalid-feedback"> Tolong Isi Yang Benar </div>
																						</div>
																					</div>
																				</div>
																				
																				<div class="row">
																					<div class="col-md-6">
																						<div class="mb-3">
																							<label for="nama_barang2" class="form-label">Nama Barang</label>
																							<input type="text" class="form-control" id="nama_barang2" placeholder="Nama Barang" readonly>
																						</div>
																					</div>
																					<div class="col-md-6">
																						<div class="mb-3">
																							<label for="nama_varian2" class="form-label">Nama Varian</label>
																							<input type="text" class="form-control" id="nama_varian2" placeholder="Nama Varian" readonly>
																						</div>
																					</div>
																				</div>

																				<div class="row">
																					<div class="col-md-4">
																						<div class="mb-3">
																							<label for="harga_beli" class="form-label">Harga Item</label>
																							<input type="text" class="form-control" id="harga_beli" placeholder="Tulis Harga Item" readonly>
																						</div>
																					</div>
																					<div class="col-md-4">
																						<div class="mb-3">
																							<label for="qty2" class="form-label">Qty</label>
																							<input type="number" class="form-control" id="qty2" placeholder="Tulis Qty" required>
																							<div class="invalid-feedback"> Tolong Isi Yang Benar </div>
																						</div>
																					</div>
																					<div class="col-md-4">
																						<div class="mb-3">
																							<label for="total_harga_item2" class="form-label">Total Harga</label>
																							<input type="text" class="form-control" id="total_harga_item2" placeholder="Tulis Total Harga" readonly>
																						</div>
																					</div>
																				</div>
																				<div>
																					<button class="btn btn-primary" type="submit">Tambah</button>
																				</div>
																			</form>
																		</div>
																		<hr class="border border-dark">
																		<div class="card-body">
																			<div class="table-responsive overflow-auto">
																				<h4 class="card-title mb-5">Tabel Detail Pembelian <a href="#" class="text-danger"></a></h4>
																				<table id="detail-table2" class="table align-middle table-nowrap table-bordered">
																					<thead class="table-light">
																						<tr class="info">
																							<th class="align-middle">No</th>
																							<th class="align-middle">ID Varian</th>
                                                                                            <th class="align-middle">Nama Varian</th>
																							<th class="align-middle">QTY</th>
																							<th class="align-middle">Harga</th>
																							<th class="align-middle">Total Harga</th>
																							<th>-</th>
																						</tr>
																					</thead>
																						<tbody>
																							
																						</tbody>
																				</table>
																			</div>
																		</div>
																		<hr class="border border-dark">
																		<div class="card-body">
																			<form id="beli-form">
																				<div class="row">
																					<div class="col-md-4">
																						<div class="mb-3">
																							<label for="total_harga2" class="form-label">Total Harga</label>
																							<input type="text" class="form-control" id="total_harga2" placeholder="Total Harga" value="<%= pembelian.total_harga_beli %>" readonly>
																						</div>
																					</div>
																					<div class="col-md-4">
																						<div class="mb-3">
																							<label for="total_bayar2" class="form-label">Total Bayar</label>
																							<input type="number" class="form-control" id="total_bayar2" placeholder="Total Bayar" required>
																						</div>
																					</div>
																					<div class="col-md-4">
																						<div class="mb-3">
																							<label for="kembalian2" class="form-label">Kembalian</label>
																							<input type="text" class="form-control" id="kembalian2" placeholder="Kembalian" readonly>
																						</div>
																					</div>
																				</div>
																				<div class="form-check mb-3">
																					<input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
																					<label class="form-check-label" for="invalidCheck"> Data Telah Benar </label>
																					<div class="invalid-feedback"> Data Harus Benar </div>
																				</div>
																				<div>
																					<button class="btn btn-primary" type="submit">Selesai</button>
																				</div>
																			</form>
																		</div>
																	</div>
																	<div class="modal-footer" style="text-align: center;">
																		<div class="col-12"> -->> Pastikan Telah Data Benar Dan Sesuai <<-- </div>
																		</div>
																	</div>
																	<!-- /.modal-content -->
																</div>
																<!-- /.modal-dialog -->
															</div>
															<!-- /.modal -->
													</ul>
													</div>
													<!-- end col-->
												</div>
											</div>
									</form>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-8">
							<div class="card">
								<div class="card-body">
									<div class="table-responsive">
										<h4 class="card-title mb-5">Tabel Data pembelian</h4>
										<table class="table table-condensed table-bordered table-striped">
											<thead class="table-light">
												<tr>
													<th class="align-middle">No</th>
													<th class="align-middle">No. Invoice</th>
													<th class="align-middle">Tanggal Pembelian</th>
													<th class="align-middle">Etc.</th>
													<th class="align-middle">Total Harga</th>
													<th class="align-middle">Total Bayar</th>
													<th class="align-middle">Kembalian</th>
													<th class="align-middle">Actions</th>
												</tr>
											</thead>
											<tbody id="invoice-tabel2">
												<% pembelian.forEach((item, index)=> { %>
													<tr>
														<td>
															<%= index + 1 %>
														</td>
														<td>
															<a href="/pembelian?noInvoice=<%= item.no_invoice %>">
																<%= item.no_invoice %>
															</a>
														</td>
														<td>
															<%= moment(item.tanggal_pembelian).format('DD MMM YYYY HH:SS')%>
														</td>
														<td>
															<table>
																<tr>
																  <td class="border-bottom border-dark"><i class="fa-solid fa-warehouse"></i> | <%=item.id_gudang%></td>
																</tr>
																<tr>
																  <td class="border-top border-dark"><i class="fa-solid fa-truck"></i> |  <%=item.id_supplier%></td>
																</tr>
															</table>
														</td>
														<td>
															<%= currencyFormatter.format(item.total_harga_beli) %>
														</td>
														<td>
															<%= currencyFormatter.format(item.total_bayar_beli) %>
														</td>
														<td>
															<%= currencyFormatter.format(item.kembalian_beli) %>
														</td>
														<td>
															<div class="d-flex gap-3"> 
                                                                <a href="/pembelian?noInvoice=<%= item.no_invoice %>" class="text-primary"><i class="fa-solid fa-print"></i></a>
																<a href="javascript:void(<%= item.no_invoice %>)"  onClick="editData(`<%= JSON.stringify(item) %>`)" type="button" class="text-success waves-effect waves-light" 
																data-bs-toggle="modal" data-bs-target=".bs-example-modal-xl"><i class="fa-solid fa-pencil"></i></a>
																<% if(user.role === 'Admin') { %>
                                                                <a href="/pembelian/delete/<%= item.no_invoice %>" class="text-danger"><i class="fa-solid fa-trash"></i></a>
																<% } %>
															</div>
														</td>
													</tr>
													<% }) %>
											</tbody>
										</table>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card-body">
									<div class="table-responsive">
										<h4 class="card-title mb-5">
											 Tabel Detail Pembelian <a href="#" class="text-danger">
                                            <%=query.noInvoice%>
                                        </a></h4>
										<table class="table align-middle table-nowrap table-bordered">
											<thead class="table-light">
												<tr class="info">
													<th class="align-middle">No</th>
                                                    <th class="align-middle">ID Varian</th>
													<th class="align-middle">Nama Varian</th>
													<th class="align-middle">QTY</th>
													<th class="align-middle">Harga</th>
													<th class="align-middle">Total Harga</th>
												</tr>
											</thead>
											<% detailsb.forEach((item, index)=> { %>
												<tbody>
													<tr>
														<td>
															<%=index + 1%>
														</td>
                                                        <td>
															<%=item.id_varian%>
														</td>
														<td>
															<%=item.nama_varian%>
														</td>
														<td>
															<%=item.qty%>
														</td>
														<td>
															<%= currencyFormatter.format(item.harga_detail_beli) %>
														</td>
														<td>
															<%= currencyFormatter.format(item.total_harga_detail_beli) %>
														</td>
													</tr>
												</tbody>
												<% }) %>
										</table>
									</div>
								</div>
							</div>
						</div>
						<div class="row" style="display: none;">
                            <div class="col-12" id="printTable2">
                                <table class="body-wrap" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; width: 100%; background-color: transparent; margin: 0;">
                                    <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                        <td style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0;" valign="top"></td>
                                        <td class="container" width="600" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; display: block !important; max-width: 600px !important; clear: both !important; margin: 0 auto;" valign="top">
                                            <div class="content" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; max-width: 600px; display: block; margin: 0 auto; padding: 20px;">
                                                <table class="main" width="100%" cellpadding="0" cellspacing="0" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; border-radius: 3px;  margin: 0; border: none;">
                                                    <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                                        <td class="content-wrap aligncenter" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0;padding: 20px; color: #495057; border: 2px solid #1d1e3a;border-radius: 7px; background-color: #fff;" align="center" valign="top">
                                                            <table width="100%" cellpadding="0" cellspacing="0" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                                                <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                                                    <td class="content-block" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;" valign="top">
                                                                        <h2 class="aligncenter" style="font-family: 'Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif; box-sizing: border-box; font-size: 24px; color: #000; line-height: 1.2em; font-weight: 400; text-align: center; margin: 40px 0 0;" align="center">Thanks for using <b style="font-weight: 600; text-transform: uppercase;">TOKO</b>.</h2>
																		
																		<h3 class="aligncenter" style="font-family: 'Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif; box-sizing: border-box; font-size: 18px; color: #000; line-height: 1.2em; font-weight: 200; text-align: center; margin: 40px 0 0;" align="center"> <%=query.noInvoice !=undefined ? print2.rows[0].no_invoice : '' %> <br> <%=query.noInvoice !=undefined ? moment(print2.rows[0].tanggal_pembelian).format('DD MMM YYYY HH:mm:ss') : ''%> </h3>
																		
                                                                    </td>
                                                                </tr>
                                                                <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                                                    <td class="content-block aligncenter" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; text-align: center; margin: 0; padding: 0 0 20px;" align="center" valign="top">
                                                                        <table class="invoice" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; text-align: left; width: 80%; margin: 40px auto;">
                                                                        
                                                                            <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                                                                <td style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 5px 0;" valign="top">
                                                                                    <table class="invoice-items" cellpadding="0" cellspacing="0" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; width: 100%; margin: 0;">
                                                                                        <% print2.rows.forEach((item, index)=> { %>
																							<tbody>
																								<tr>
																									<td style="font-size: medium;">
																										<%=item.nama_varian%>
																									</td>
																								</tr>
																								<tr>

																								</tr>
																								<tr>
																									<td>
																										<%= currencyFormatter.format(item.harga_detail_beli) %> X <%=item.qty%>
																									</td>
																									<td>

																									</td>
																									<td>
																										<%= currencyFormatter.format(item.total_harga_detail_beli) %>
																									</td>
																								</tr>
																								<% }) %>
																								<tr class="total" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
																									<td class="alignright" width="80%" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; text-align: right; border-top-width: 2px; border-top-color: #333; border-top-style: solid; font-weight: 700; margin: 0; padding: 5px 0;" align="right" valign="top"></td>
																									<td class="alignright" width="80%" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; text-align: right; border-top-width: 2px; border-top-color: #333; border-top-style: solid; font-weight: 700; margin: 0; padding: 5px 0;" align="right" valign="top">TOTAL</td>
																									<td class="alignright" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 18px; vertical-align: top; text-align: right; border-top-width: 2px; border-top-color: #333; border-top-style: solid; font-weight: 700; margin: 0; padding: 5px 0;" align="right" valign="top"><%= query.noInvoice !=undefined ? currencyFormatter.format(print2.rows[0].total_harga_beli) : ''%></td>
																								</tr>
																								<tr class="total" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
																									<td class="alignright" width="80%" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; text-align: right; font-weight: 700; margin: 0; padding: 5px 0;" align="right" valign="top"></td>
																									<td class="alignright" width="80%" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; text-align: right; font-weight: 700; margin: 0; padding: 5px 0;" align="right" valign="top">BAYAR</td>
																									<td class="alignright" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; text-align: right; font-weight: 700; margin: 0; padding: 5px 0;" align="right" valign="top"><%= query.noInvoice !=undefined ? currencyFormatter.format(print2.rows[0].total_bayar_beli) : ''%></td>
																								</tr>
																								<tr class="total" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
																									<td class="alignright" width="80%" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; text-align: right; border-bottom-color: #333; border-bottom-width: 2px; border-bottom-style: solid; font-weight: 700; margin: 0; padding: 5px 0;" align="right" valign="top"></td>
																									<td class="alignright" width="80%" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; text-align: right; border-bottom-color: #333; border-bottom-width: 2px; border-bottom-style: solid; font-weight: 700; margin: 0; padding: 5px 0;" align="right" valign="top">KEMBALI</td>
																									<td class="alignright" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; text-align: right; border-bottom-color: #333; border-bottom-width: 2px; border-bottom-style: solid; font-weight: 700; margin: 0; padding: 5px 0;" align="right" valign="top"><%= query.noInvoice !=undefined ? currencyFormatter.format(print2.rows[0].kembalian_beli) : ''%></td>
																								</tr>
																							</tbody>
																							
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                                                    <td class="content-block aligncenter" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; text-align: center; margin: 0; padding: 0 0 20px;" align="center" valign="top">
                                                                        Jl. H. Mahdi II No.123, Cisaranten Wetan, Kec. Cinambo, <br> Kota Bandung, Jawa Barat 40293
                                                                    </td>
                                                                </tr>
        
                                                                <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                                                    <td class="content-block" style="text-align: center;font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0;" valign="top">
																		<script>document.write(new Date().getFullYear())</script> © RubiCAMP.
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                <!-- end table -->
                            </div>
                        </div>
					</div>
					<!-- end row -->
				</div>
				<!-- container-fluid -->
			</div>
			<!-- End Page-content -->
		</div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
        <script>
            let no_invoice = '<%= pembelian.no_invoice %>';
            //let no_invoice = null;

			const editData = (item) => {
			item = JSON.parse(item)
			no_invoice = item.no_invoice
			const readDetails = () => {
                $.get(`/pembelian/details/${no_invoice}`).done(function (data) {
                    let html = ''
                    data.forEach((item, index) => {
                        html += `
                        <tr>
                            <td>
                                ${index + 1}
                            </td>
                            <td>
                                ${item.id_varian}
                            </td>
                            <td>
                                ${item.nama_varian}
                            </td>
                            <td class="right-position">
                                ${item.qty}
                            </td>
                            <td class="right-position">
                                ${currencyFormatter.format(item.harga_detail_beli)}
                            </td>
                            <td class="right-position">
                                ${currencyFormatter.format(item.total_harga_detail_beli)}
                            </td>
							<td>
                                <a href="javascript:void(0)" id="delitem-button2" onClick='removeItem(${JSON.stringify(item)})' class="text-danger"><i class="fa-solid fa-trash"></i></a>
                            </td>
                        </tr>
                        `
                    })
                    $('#detail-table2 tbody').html(html)
                })
            }
			readDetails()
            $('#no_invoice2').val(item.no_invoice)
            $('#tanggal2').val(moment(item.tanggal_pembelian).format('DD MMM YYYY HH:mm:ss'))
			$('#gudangb').val(item.id_gudang)
			$('#supplierb').val(item.id_supplier)
            $('#total_harga2').val(item.total_harga_beli)
            $('#total_bayar2').val(item.total_bayar_beli)
			$('#kembalian2').val(item.kembalian_beli)
			}

			const removeData = (no_invoice) => {
            $.ajax({
                method: "DELETE",
                url: `/pembelian/delete/${no_invoice}`,
                dataType: "json"
            }).done(function (response) {
                //readData()
            }).fail(function (err) {
                alert('gagal pakai jquery')
            })
        	}

			const removeItem = (item) => {
			no_invoice = item.no_invoice
			id_detail_beli = item.id_detail_beli
            $.ajax({
                method: "DELETE",
                url: `/pembelian/delitem/${id_detail_beli}`,
                dataType: "json",
				data: { no_invoice }
            }).done(function (data) {
                readDetails()
				const total_harga = $('#total_harga2').val(parseInt(data[0].total))
				const total_bayar = $('#total_bayar2').val()
				$('#kembalian2').val((total_bayar - parseInt(data[0].total)))
            }).fail(function (err) {
                alert('gagal pakai jquery delete item')
            })
        	}

            $(document).ready(function () {
                readDetails()
				//readData()
                $('#start-button').click(function () {
                    //e.preventDefault();
                    $.post('/pembelian/create').done(function(data){
                        no_invoice = data.no_invoice
                        $('#no_invoice2').val(no_invoice)
                        $('#tanggal2').val(moment(data.tanggal_pembelian).format('DD MMM YYYY HH:mm:ss'))
                    })
                })


                $('#id-item2').change(function () {
                    const id_varian = $(this).val()
                    $.get(`/pembelian/barang/${id_varian}`).done(function (data) {
                        $('#nama_barang2').val(data.nama_barang)
                        $('#nama_varian2').val(data.nama_varian)
                        $('#harga_beli').val(data.harga_beli_varian)
						$('#stok2').val(data.stok_varian)
                        $('#qty2').val(1)
                        $('#total_harga_item2').val(data.harga_beli_varian)
                    })
                })

                $('#qty2').keyup(function () {
                    const qty = $(this).val()
                    const harga_beli = $('#harga_beli').val()
                    $('#total_harga_item2').val(harga_beli * qty)
                })
    
                $('#total_bayar2').keyup(function () {
                    const total_bayar = $(this).val()
                    const total_harga = $('#total_harga2').val()
                    $('#kembalian2').val((total_bayar - total_harga))
                })
    
                $('#detail-form2').submit(function (e) {
                    e.preventDefault();
                    const no_invoice = $('#no_invoice2').val()
                    const id_varian = $('#id-item2').val()
                    const qty = $('#qty2').val()
                    $.post('/pembelian/additem', { no_invoice, id_varian, qty }).done(function (data) {
						console.log('detail', data)
                        readDetails()
                        //$('#total_harga').val(currencyFormatter.format(data.total_harga_beli))
                        //console.log(no_invoice, id_varian, qty)
                        $('#total_harga2').val(data.total_harga_beli)
                    })
                })

                $('#beli-form').submit(function () {
                    //e.preventDefault();
					const total_harga_beli = $('#total_harga2').val()
                    const no_invoice = $('#no_invoice2').val()
                    const total_bayar_beli = $('#total_bayar2').val()
                    const kembalian = $('#kembalian2').val()
                    const gudangb = $('#gudangb').val()
					const supplierb = $('#supplierb').val()
                    $.post('/pembelian/upjual', {gudangb, supplierb, total_harga_beli, total_bayar_beli, kembalian, no_invoice}).done(function (data) {
						console.log(data)
                        //res.redirect('/utama')
                    })
                })
            })
			
			function printData(){
					var divToPrint=document.getElementById("printTable2");
					newWin= window.open("");
					newWin.document.write(divToPrint.outerHTML);
					newWin.print();
					newWin.close();
			}

			// $('#print-button').on('click',function(){
			// printData();
			// })

			$('#invoice-tabel2').on('click', '.text-primary', function () {
                printData();
            })

            const readDetails = () => {
                // $.get(`/pembelian/details/${params}`)
				$.ajax({
                method: "GET",
                url: `/pembelian/details/${no_invoice}`,
                dataType: "json",
            	}).done(function (data) {
					console.log('readt', data)
                    let html = ''
                    data.forEach((item, index) => {
                        html += `
                        <tr>
                            <td>
                                ${index + 1}
                            </td>
                            <td>
                                ${item.id_varian}
                            </td>
                            <td>
                                ${item.nama_varian}
                            </td>
                            <td class="right-position">
                                ${item.qty}
                            </td>
                            <td class="right-position">
                                ${currencyFormatter.format(item.harga_detail_beli)}
                            </td>
                            <td class="right-position">
                                ${currencyFormatter.format(item.total_harga_detail_beli)}
                            </td>
							<td>
                                <a href="javascript:void(0)" id="delitem-butto2" onClick='removeItem(${JSON.stringify(item)})' class="text-danger"><i class="fa-solid fa-trash"></i></a>
                            </td>
                        </tr>
                        `
                    })
                    $('#detail-table2 tbody').html(html)
                })
            }
        </script>
		<!-- end main content-->
		<%- include('../partials/footer') %>