<%- include('../partials/header') %>

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        

        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h4 class="mb-sm-0 font-size-18">Gudang</h4>

                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">Gudang</a></li>
                                        <li class="breadcrumb-item active">List</li>
                                    </ol>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- end page title -->

                    <div class="row">
                        <div class="col-xl-4">
                            <!-- ==================Searching = -->

                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title mb-4">Pencarian Data</h4>
                                    <div class="row">
                                        <form id="form-search">
                                           
                                            <div class="row mb-3">
                                                <label for="cari_id"
                                                    class="col-sm-4 col-form-label">ID Gudang</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" id="cari_id"
                                                        name="cari_id" placeholder="Tulis ID Gudang"
                                                        value="<%=query.cari_id%>">
                                                </div>
                                            </div>

                                            <div class="row mb-3">
                                                <label for="cari_nama"
                                                    class="col-sm-4 col-form-label">Nama Gudang</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" id="cari_nama"
                                                        name="cari_nama" placeholder="Tulis Nama Gudang" 
                                                        value="<%=query.cari_nama%>">
                                                </div>
                                            </div>
                                           
                                            <div class="row mb-3">
                                                <label for="cari_alamat"
                                                    class="col-sm-4 col-form-label">Alamat Gudang</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" id="cari_alamat"
                                                        name="cari_alamat" placeholder="Tulis Alamat Gudang" 
                                                        value="<%=query.cari_alamat%>">
                                                </div>
                                            </div>

                                            <div class="card-footer">
                                                <button type="submit" class="btn btn-primary">Cari</button>

                                                <a href="/gudang" class="btn btn-warning">Reset</a>
                                            </div>

                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-xl-8">
                            <div class="card">
                                <div class="card-body">
                                    
                                    <h4 class="card-title mb-4">Tabel Data Gudang</h4>
                                    <div class="table-responsive">
                                        <table class="table align-middle table-nowrap table-check">
                                            <thead class="table-light">
                                                <tr>
                                                    <th class="align-middle">ID Gudang</th>
                                                    <th class="align-middle">Nama Gudang</th>
                                                    <th class="align-middle">Alamat</th>
                                                    <th class="align-middle">Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% rows.forEach((item, index)=> { %>
                                                <tr>
                                                    <td>
                                                        <%=item.id_gudang%>
                                                    </td>
                                                    <td>
                                                        <%=item.nama_gudang%>
                                                    </td>
                                                    <td>
                                                        <%=item.alamat_gudang%>
                                                    </td>
                                                    <td>
                                                        <div class="d-flex gap-3">
                                                            <a href="/gudang/edit/<%= item.id_gudang %>" class="text-success"><i class="fa-solid fa-pencil"></i></a>
                                                            <a href="/gudang/delete/<%= item.id_gudang %>" class="text-danger"><i class="fa-solid fa-trash"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <% }) %>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="row mb-2">
                                        <div class="col-sm-8">
                                            <div class="text-sm-left">
                                                <a href="/gudang/add" class="btn btn-success btn-rounded waves-effect waves-light mb-2 me-2"><i class="fa-solid fa-plus"></i> Tambah Gudang </a>
                                            </div>
                                        </div>
                                        
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end row -->
                </div>
                <!-- container-fluid -->
            </div>
           
        </div>
        <script>

            
        </script>
        <!-- end main content-->

        <%- include('../partials/footer') %>