<%- include('../partials/header') %>
	<!-- ============================================================== -->
	<!-- Start right Content here -->
	<!-- ============================================================== -->
	<div class="main-content">
		<div class="page-content">
			<div class="container-fluid">
				<!-- start page title -->
				<div class="row">
					<div class="col-12">
						<div class="page-title-box d-sm-flex align-items-center justify-content-between">
							<h4 class="mb-sm-0 font-size-18">PENJUALAN</h4> </div>
					</div>
				</div>
				<!-- end page title -->
				<div class="row">
					<div class="col-xl-4">

						<% if(user.role === 'Operator') { %>
							<div class="card overflow-hidden">
								<div class="bg-primary bg-soft">
									<div class="row">
										<div class="col-7">
											<div class="text-primary p-3">
												<h5 class="text-primary">Halo, <%= user.username.toUpperCase() %></h5>
												<p>Selamat Datang Kembali</p>
											</div>
										</div>
	
									</div>
								</div>
	
								<!-- ==================Tabel Searching = -->
								<div class="card-body pt-2 ">
									<div class="row">
										<div class="col-sm-4">
											<div class="avatar-md profile-user-wid mb-6">
												<img src="/assets/images/users/avatar-1.jpg" alt=""
													class="img-thumbnail rounded-circle">
											</div>
											<h5 class="font-size-15 text-truncate"><%= user.username %></h5>
											<p class="text-muted mb-0 text-truncate"><%= user.role.toUpperCase() %></p>
										</div>
	
										<div class="col-sm-8">
											<div class="pt-2">
	
												<div class="row">
													<div class="col-6">
														<h5 class="text-muted mb-0">Jam Kerja</h5>
														<p class="font-size-15">08:00 - 16:00</p>
													</div>
													<div class="col-6">
														<h5 class="text-muted mb-0">Catatan</h5>
														<p class="font-size-15"> - </p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
	
							</div>
							<% } %>

						<!-- ==================Searching = -->
						<div class="card">
							<div class="card-body">
								<h4 class="card-title mb-4">Pencarian Data</h4>
								<div class="row">
									<form id="form-search">
										<input type="hidden" name="page" value="1">
										<div class="row mb-3">
											<label for="cari_inv" class="col-sm-4 col-form-label">Invoice penjualan</label>
											<div class="col-sm-8">
												<input type="text" class="form-control" id="cari_inv" name="cari_inv" placeholder="Tulis Invoice" value="<%=query.cari_inv%>"> </div>
										</div>
										<div class="row mb-3">
											<label for="searchDate" class="col-sm-4 col-form-label" id="searchDate"
												name="searchDate" for="searchDate">Date</label>
											<div class="col-sm-8">
												<input type="date" id="searchStartDate" name="searchStartDate" value="<%=query.searchStartDate%>"
													class="form-control" placeholder="Tulis Date">
												<label class="col-sm-4 col-form-label">to</label>
												<input type="date" id="searchEndDate" name="searchEndDate" value="<%=query.searchEndDate%>"
													class="form-control" placeholder="Tulis Date">
											</div>
										</div>
										<div class="card-footer">
											<div class="row">
												<div class="col-sm-4">
													<div class="text-sm-left">
														<button type="submit" class="btn btn-primary">Cari</button> <a href="/penjualan" class="btn btn-warning">Reset</a> </div>
												</div>
												<div class="col-sm-8">
													<ul class="pagination pagination-rounded justify-content-end">
														<button id="start-button" type="button" class="btn btn-primary waves-effect waves-light" data-bs-toggle="modal" data-bs-target=".bs-example-modal-xl"><i class="fa-solid fa-plus"></i> Transaksi Baru</button>
														<div class="modal fade bs-example-modal-xl" tabindex="-1" data-bs-backdrop="static" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
															<div class="modal-dialog modal-xl modal-dialog-scrollable">
																<div class="modal-content">
																	<div class="modal-header">
																		<h5 class="modal-title">Tambah Transaksi Penjualan</h5>
																		<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
																	</div>
																	<div class="modal-body">
																		<div class="card-body">
																			<form id="start-form" class="needs-validation" novalidate>
																				<div class="row">
																					<div class="col-md-6">
																						<div class="mb-3">
																							<label for="no_invoice" class="form-label">No Invoice</label>
																							<input type="text" class="form-control" id="no_invoice" placeholder="No Invoice" readonly>
																							<div class="valid-feedback"> Looks good! </div>
																						</div>
																					</div>
																					<div class="col-md-6">
																						<div class="mb-3">
																							<label for="tanggal" class="form-label">Waktu</label>
																							<input type="text" class="form-control" id="tanggal" placeholder="Waktu" readonly>
																							<div class="valid-feedback"> Looks good! </div>
																						</div>
																					</div>
																				</div>
																			</form>
																		</div>
																		<hr class="border border-dark">
																		<div class="card-body">
																			<form id="detail-form" class="needs-validation" novalidate>
																				<div class="row">
																					<div class="col-md-10">
																						<div class="mb-3">
																							<label for="id-item" class="form-label">ID Barang & Item</label>
																							<select class="form-select" name="id-item" id="id-item" required>
																								<option disabled selected>Pilih Barang & Item</option>
																								<% varian.forEach((item)=> { %>
																									<option value="<%= item.id_varian %>">
																										<%= item.id_barang %> - <%= item.nama_barang %> | <%= item.id_varian %> - <%= item.nama_varian %>
																									</option>
																									<% }) %>
																							</select>
																						</div>
																					</div>
																					<div class="col-md-2">
																						<div class="mb-3">
																							<label for="stok" class="form-label">Stok Tersisa</label>
																							<input type="text" class="form-control" id="stok" placeholder="Stok Tersisa" readonly>
																							<div class="invalid-feedback"> Tolong Isi Yang Benar </div>
																						</div>
																					</div>
																				</div>
																				
																				<div class="row">
																					<div class="col-md-6">
																						<div class="mb-3">
																							<label for="nama_barang" class="form-label">Nama Barang</label>
																							<input type="text" class="form-control" id="nama_barang" placeholder="Nama Barang" readonly>
																						</div>
																					</div>
																					<div class="col-md-6">
																						<div class="mb-3">
																							<label for="nama_varian" class="form-label">Nama Varian</label>
																							<input type="text" class="form-control" id="nama_varian" placeholder="Nama Varian" readonly>
																						</div>
																					</div>
																				</div>
																				<div class="row">
																					<div class="col-md-4">
																						<div class="mb-3">
																							<label for="harga_jual" class="form-label">Harga Item</label>
																							<input type="text" class="form-control" id="harga_jual" placeholder="Tulis Harga Item" readonly>
																						</div>
																					</div>
																					<div class="col-md-4">
																						<div class="mb-3">
																							<label for="qty" class="form-label">Qty</label>
																							<input type="number" class="form-control" id="qty" placeholder="Tulis Qty" required>
																							<div class="invalid-feedback"> Tolong Isi Yang Benar </div>
																						</div>
																					</div>
																					<div class="col-md-4">
																						<div class="mb-3">
																							<label for="total_harga_item" class="form-label">Total Harga</label>
																							<input type="text" class="form-control" id="total_harga_item" placeholder="Tulis Total Harga" readonly>
																						</div>
																					</div>
																				</div>
																				<div>
																					<button class="btn btn-primary" type="submit">Tambah</button>
																				</div>
																			</form>
																		</div>
																		<hr class="border border-dark">
																		<div class="card-body">
																			<div class="table-responsive overflow-auto">
																				<h4 class="card-title mb-5">Tabel Detail Penjualan <a href="#" class="text-danger"></a></h4>
																				<table id="detail-table" class="table align-middle table-nowrap table-bordered">
																					<thead class="table-light">
																						<tr class="info">
																							<th class="align-middle">No</th>
																							<th class="align-middle">ID Varian</th>
                                                                                            <th class="align-middle">Nama Varian</th>
																							<th class="align-middle">QTY</th>
																							<th class="align-middle">Harga</th>
																							<th class="align-middle">Total Harga</th>
																							<th>-</th>
																						</tr>
																					</thead>
																						<tbody>
																							
																						</tbody>
																				</table>
																			</div>
																		</div>
																		<hr class="border border-dark">
																		<div class="card-body">
																			<form id="jual-form">
																				<div class="row">
																					<div class="col-md-4">
																						<div class="mb-3">
																							<label for="total_harga" class="form-label">Total Harga</label>
																							<input type="text" class="form-control" id="total_harga" placeholder="Total Harga" value="<%= penjualan.total_harga_jual %>" readonly>
																						</div>
																					</div>
																					<div class="col-md-4">
																						<div class="mb-3">
																							<label for="total_bayar" class="form-label">Total Bayar</label>
																							<input type="number" class="form-control" id="total_bayar" placeholder="Total Bayar" required>
																						</div>
																					</div>
																					<div class="col-md-4">
																						<div class="mb-3">
																							<label for="kembalian" class="form-label">Kembalian</label>
																							<input type="text" class="form-control" id="kembalian" placeholder="Kembalian" readonly>
																						</div>
																					</div>
																				</div>
																				<div class="form-check mb-3">
																					<input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
																					<label class="form-check-label" for="invalidCheck"> Data Telah Benar </label>
																					<div class="invalid-feedback"> Data Harus Benar </div>
																				</div>
																				<div>
																					<button class="btn btn-primary" type="submit">Selesai</button>
																				</div>
																			</form>
																		</div>
																	</div>
																	<div class="modal-footer" style="text-align: center;">
																		<div class="col-12"> -->> Pastikan Telah Data Benar Dan Sesuai <<-- </div>
																		</div>
																	</div>
																	<!-- /.modal-content -->
																</div>
																<!-- /.modal-dialog -->
															</div>
															<!-- /.modal -->
													</ul>
													</div>
													<!-- end col-->
												</div>
											</div>
									</form>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-8">
							<div class="card">
								<div class="card-body">
									<div class="table-responsive">
										<h4 class="card-title mb-5">Tabel Data Penjualan</h4>
										<table class="table table-condensed table-bordered table-striped">
											<thead class="table-light">
												<tr>
													<th class="align-middle">No</th>
													<th class="align-middle">No. Invoice</th>
													<th class="align-middle">Tanggal Penjualan</th>
													<th class="align-middle">Total Harga</th>
													<th class="align-middle">Total Bayar</th>
													<th class="align-middle">Kembalian</th>
													<th class="align-middle">Actions</th>
												</tr>
											</thead>
											<tbody id="invoice-tabel">
												<% penjualan.forEach((item, index)=> { %>
													<tr>
														<td>
															<%= index + 1 %>
														</td>
														<td>
															<a href="/penjualan?noInvoice=<%= item.no_invoice %>">
																<%= item.no_invoice %>
															</a>
														</td>
														<td>
															<%= moment(item.tanggal_penjualan).format('DD MMM YYYY HH:SS')
                                                            %>
														</td>
														<td>
															<%= currencyFormatter.format(item.total_harga_jual) %>
														</td>
														<td>
															<%= currencyFormatter.format(item.total_bayar_jual) %>
														</td>
														<td>
															<%= currencyFormatter.format(item.kembalian_jual) %>
														</td>
														<td>
															<div class="d-flex gap-3"> 
                                                                <a href="/penjualan?noInvoice=<%= item.no_invoice %>" class="text-primary"><i class="fa-solid fa-print"></i></a>
																<a href="javascript:void(<%= item.no_invoice %>)"  onClick="editData(`<%= JSON.stringify(item) %>`)" type="button" class="text-success waves-effect waves-light" 
																data-bs-toggle="modal" data-bs-target=".bs-example-modal-xl"><i class="fa-solid fa-pencil"></i></a>
																<% if(user.role === 'Admin') { %>
                                                                <a href="/penjualan/delete/<%= item.no_invoice %>" class="text-danger"><i class="fa-solid fa-trash"></i></a>
																<% } %>
															</div>
														</td>
													</tr>
													<% }) %>
											</tbody>
										</table>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card-body">
									<div class="table-responsive">
										<h4 class="card-title mb-5">
											 Tabel Detail Penjualan <a href="#" class="text-danger">
                                            <%=query.noInvoice%>
                                        </a></h4>
										<table class="table align-middle table-nowrap table-bordered">
											<thead class="table-light">
												<tr class="info">
													<th class="align-middle">No</th>
                                                    <th class="align-middle">ID Varian</th>
													<th class="align-middle">Nama Varian</th>
													<th class="align-middle">QTY</th>
													<th class="align-middle">Harga</th>
													<th class="align-middle">Total Harga</th>
												</tr>
											</thead>
											<% detailsj.forEach((item, index)=> { %>
												<tbody>
													<tr>
														<td>
															<%=index + 1%>
														</td>
                                                        <td>
															<%=item.id_varian%>
														</td>
														<td>
															<%=item.nama_varian%>
														</td>
														<td>
															<%=item.qty%>
														</td>
														<td>
															<%= currencyFormatter.format(item.harga_detail_jual) %>
														</td>
														<td>
															<%= currencyFormatter.format(item.total_harga_detail_jual) %>
														</td>
													</tr>
												</tbody>
												<% }) %>
										</table>
									</div>
								</div>
							</div>
						</div>
						<div class="row" style="display: none;">
                            <div class="col-12" id="printTable">
                                <table class="body-wrap" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; width: 100%; background-color: transparent; margin: 0;">
                                    <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                        <td style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0;" valign="top"></td>
                                        <td class="container" width="600" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; display: block !important; max-width: 600px !important; clear: both !important; margin: 0 auto;" valign="top">
                                            <div class="content" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; max-width: 600px; display: block; margin: 0 auto; padding: 20px;">
                                                <table class="main" width="100%" cellpadding="0" cellspacing="0" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; border-radius: 3px;  margin: 0; border: none;">
                                                    <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                                        <td class="content-wrap aligncenter" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0;padding: 20px; color: #495057; border: 2px solid #1d1e3a;border-radius: 7px; background-color: #fff;" align="center" valign="top">
                                                            <table width="100%" cellpadding="0" cellspacing="0" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                                                <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                                                    <td class="content-block" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;" valign="top">
                                                                        <h2 class="aligncenter" style="font-family: 'Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif; box-sizing: border-box; font-size: 24px; color: #000; line-height: 1.2em; font-weight: 400; text-align: center; margin: 40px 0 0;" align="center">Thanks for using <b style="font-weight: 600; text-transform: uppercase;">TOKO</b>.</h2>
																		
																		<h3 class="aligncenter" style="font-family: 'Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif; box-sizing: border-box; font-size: 18px; color: #000; line-height: 1.2em; font-weight: 200; text-align: center; margin: 40px 0 0;" align="center"> <%=query.noInvoice !=undefined ? print.rows[0].no_invoice : '' %> <br> <%=query.noInvoice !=undefined ? moment(print.rows[0].tanggal_penjualan).format('DD MMM YYYY HH:mm:ss') : ''%> </h3>
																		
                                                                    </td>
                                                                </tr>
                                                                <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                                                    <td class="content-block aligncenter" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; text-align: center; margin: 0; padding: 0 0 20px;" align="center" valign="top">
                                                                        <table class="invoice" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; text-align: left; width: 80%; margin: 40px auto;">
                                                                        
                                                                            <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                                                                <td style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 5px 0;" valign="top">
                                                                                    <table class="invoice-items" cellpadding="0" cellspacing="0" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; width: 100%; margin: 0;">
                                                                                        <% print.rows.forEach((item, index)=> { %>
																							<tbody>
																								<tr>
																									<td style="font-size: medium;">
																										<%=item.nama_varian%>
																									</td>
																								</tr>
																								<tr>

																								</tr>
																								<tr>
																									<td>
																										<%= currencyFormatter.format(item.harga_detail_jual) %> X <%=item.qty%>
																									</td>
																									<td>

																									</td>
																									<td>
																										<%= currencyFormatter.format(item.total_harga_detail_jual) %>
																									</td>
																								</tr>
																								<% }) %>
																								<tr class="total" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
																									<td class="alignright" width="80%" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; text-align: right; border-top-width: 2px; border-top-color: #333; border-top-style: solid; font-weight: 700; margin: 0; padding: 5px 0;" align="right" valign="top"></td>
																									<td class="alignright" width="80%" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; text-align: right; border-top-width: 2px; border-top-color: #333; border-top-style: solid; font-weight: 700; margin: 0; padding: 5px 0;" align="right" valign="top">TOTAL</td>
																									<td class="alignright" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 18px; vertical-align: top; text-align: right; border-top-width: 2px; border-top-color: #333; border-top-style: solid; font-weight: 700; margin: 0; padding: 5px 0;" align="right" valign="top"><%= query.noInvoice !=undefined ? currencyFormatter.format(print.rows[0].total_harga_jual) : ''%></td>
																								</tr>
																								<tr class="total" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
																									<td class="alignright" width="80%" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; text-align: right; font-weight: 700; margin: 0; padding: 5px 0;" align="right" valign="top"></td>
																									<td class="alignright" width="80%" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; text-align: right; font-weight: 700; margin: 0; padding: 5px 0;" align="right" valign="top">BAYAR</td>
																									<td class="alignright" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; text-align: right; font-weight: 700; margin: 0; padding: 5px 0;" align="right" valign="top"><%= query.noInvoice !=undefined ? currencyFormatter.format(print.rows[0].total_bayar_jual) : ''%></td>
																								</tr>
																								<tr class="total" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
																									<td class="alignright" width="80%" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; text-align: right; border-bottom-color: #333; border-bottom-width: 2px; border-bottom-style: solid; font-weight: 700; margin: 0; padding: 5px 0;" align="right" valign="top"></td>
																									<td class="alignright" width="80%" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; text-align: right; border-bottom-color: #333; border-bottom-width: 2px; border-bottom-style: solid; font-weight: 700; margin: 0; padding: 5px 0;" align="right" valign="top">KEMBALI</td>
																									<td class="alignright" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; text-align: right; border-bottom-color: #333; border-bottom-width: 2px; border-bottom-style: solid; font-weight: 700; margin: 0; padding: 5px 0;" align="right" valign="top"><%= query.noInvoice !=undefined ? currencyFormatter.format(print.rows[0].kembalian_jual) : ''%></td>
																								</tr>
																							</tbody>
																							
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                                                    <td class="content-block aligncenter" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; text-align: center; margin: 0; padding: 0 0 20px;" align="center" valign="top">
                                                                        Jl. H. Mahdi II No.123, Cisaranten Wetan, Kec. Cinambo, <br> Kota Bandung, Jawa Barat 40293
                                                                    </td>
                                                                </tr>
        
                                                                <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                                                    <td class="content-block" style="text-align: center;font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0;" valign="top">
																		<script>document.write(new Date().getFullYear())</script> © RubiCAMP.
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                <!-- end table -->
                            </div>
                        </div>
					</div>
					<!-- end row -->
				</div>
				<!-- container-fluid -->
			</div>
			<!-- End Page-content -->
		</div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
        <script>
            let no_invoice = '<%= penjualan.no_invoice %>';
            //let no_invoice = null;

			const editData = (item) => {
			item = JSON.parse(item)
			no_invoice = item.no_invoice
			const readDetails = () => {
                $.get(`/penjualan/details/${no_invoice}`).done(function (data) {
                    let html = ''
                    data.forEach((item, index) => {
                        html += `
                        <tr>
                            <td>
                                ${index + 1}
                            </td>
                            <td>
                                ${item.id_varian}
                            </td>
                            <td>
                                ${item.nama_varian}
                            </td>
                            <td class="right-position">
                                ${item.qty}
                            </td>
                            <td class="right-position">
                                ${currencyFormatter.format(item.harga_detail_jual)}
                            </td>
                            <td class="right-position">
                                ${currencyFormatter.format(item.total_harga_detail_jual)}
                            </td>
							<td>
                                <a href="javascript:void(0)" id="delitem-button" onClick='removeItem(${JSON.stringify(item)})' class="text-danger"><i class="fa-solid fa-trash"></i></a>
                            </td>
                        </tr>
                        `
                    })
                    $('#detail-table tbody').html(html)
                })
            }
			readDetails()
            $('#no_invoice').val(item.no_invoice)
            $('#tanggal').val(moment(item.tanggal_penjualan).format('DD MMM YYYY HH:mm:ss'))
            $('#total_harga').val(item.total_harga_jual)
            $('#total_bayar').val(item.total_bayar_jual)
			$('#kembalian').val(item.kembalian_jual)
			}

			const removeData = (no_invoice) => {
            $.ajax({
                method: "DELETE",
                url: `/penjualan/delete/${no_invoice}`,
                dataType: "json"
            }).done(function (response) {
                //readData()
            }).fail(function (err) {
                alert('gagal pakai jquery')
            })
        	}

			const removeItem = (item) => {
			no_invoice = item.no_invoice
			id_detail_jual = item.id_detail_jual
            $.ajax({
                method: "DELETE",
                url: `/penjualan/delitem/${id_detail_jual}`,
                dataType: "json",
				data: { no_invoice }
            }).done(function (data) {
                readDetails()
				const total_harga = $('#total_harga').val(parseInt(data[0].total))
				const total_bayar = $('#total_bayar').val()
				$('#kembalian').val((total_bayar - parseInt(data[0].total)))
            }).fail(function (err) {
                alert('gagal pakai jquery delete item')
            })
        	}

            $(document).ready(function () {
                readDetails()
				//readData()
                $('#start-button').click(function () {
                    //e.preventDefault();
                    $.post('/penjualan/create').done(function(data){
                        no_invoice = data.no_invoice
                        $('#no_invoice').val(no_invoice)
                        $('#tanggal').val(moment(data.tanggal_penjualan).format('DD MMM YYYY HH:mm:ss'))
                    })
                })


                $('#id-item').change(function () {
                    const id_varian = $(this).val()
                    $.get(`/penjualan/barang/${id_varian}`).done(function (data) {
                        $('#nama_barang').val(data.nama_barang)
                        $('#nama_varian').val(data.nama_varian)
                        $('#harga_jual').val(data.harga_jual_varian)
						$('#stok').val(data.stok_varian)
                        $('#qty').val(1)
                        $('#total_harga_item').val(data.harga_jual_varian)
                    })
                })

                $('#qty').keyup(function () {
                    const qty = $(this).val()
                    const harga_jual = $('#harga_jual').val()
                    $('#total_harga_item').val(harga_jual * qty)
                })
    
                $('#total_bayar').keyup(function () {
                    const total_bayar = $(this).val()
                    const total_harga = $('#total_harga').val()
                    $('#kembalian').val((total_bayar - total_harga))
                })
    
                $('#detail-form').submit(function (e) {
                    e.preventDefault();
                    const no_invoice = $('#no_invoice').val()
                    const id_varian = $('#id-item').val()
                    const qty = $('#qty').val()
                    
                    $.post('/penjualan/additem', { no_invoice, id_varian, qty }).done(function (data) {
                        readDetails()
                        //$('#total_harga').val(currencyFormatter.format(data.total_harga_jual))
                        //console.log(no_invoice, id_varian, qty)
                        $('#total_harga').val(data.total_harga_jual)
                    })
                })

                $('#jual-form').submit(function () {
                    //e.preventDefault();
					const total_harga_jual = $('#total_harga').val()
                    const no_invoice = $('#no_invoice').val()
                    const total_bayar_jual = $('#total_bayar').val()
                    const kembalian = $('#kembalian').val()
                    $.post('/penjualan/upjual', {total_harga_jual, total_bayar_jual, kembalian, no_invoice}).done(function (data) {
                        //res.redirect('/utama')
                    })
                })
            })
			
			function printData(){
					var divToPrint=document.getElementById("printTable");
					newWin= window.open("");
					newWin.document.write(divToPrint.outerHTML);
					newWin.print();
					newWin.close();
			}

			// $('#print-button').on('click',function(){
			// printData();
			// })

			$('#invoice-tabel').on('click', '.text-primary', function () {
                printData();
            })

            const readDetails = () => {
                // $.get(`/penjualan/details/${params}`)
				$.ajax({
                method: "GET",
                url: `/penjualan/details/${no_invoice}`,
                dataType: "json",
            	}).done(function (data) {
                    let html = ''
                    data.forEach((item, index) => {
                        html += `
                        <tr>
                            <td>
                                ${index + 1}
                            </td>
                            <td>
                                ${item.id_varian}
                            </td>
                            <td>
                                ${item.nama_varian}
                            </td>
                            <td class="right-position">
                                ${item.qty}
                            </td>
                            <td class="right-position">
                                ${currencyFormatter.format(item.harga_detail_jual)}
                            </td>
                            <td class="right-position">
                                ${currencyFormatter.format(item.total_harga_detail_jual)}
                            </td>
							<td>
                                <a href="javascript:void(0)" id="delitem-button" onClick='removeItem(${JSON.stringify(item)})' class="text-danger"><i class="fa-solid fa-trash"></i></a>
                            </td>
                        </tr>
                        `
                    })
                    $('#detail-table tbody').html(html)
                })
            }
        </script>
		<!-- end main content-->
		<%- include('../partials/footer') %>